# Legacy Vis
src/visualizations/Bpm.vue
src/visualizations/Bpm2.vue
src/visualizations/DcDemographics.vue
src/visualizations/DcSnowfall.vue
src/visualizations/Drought.vue
src/visualizations/EducationSpending.vue
src/visualizations/FantasyBasketball.vue
src/visualizations/FantasyBasketball2.vue
src/visualizations/FantasyDraft.vue
src/visualizations/FantasyDraft2.vue
src/visualizations/FantasyFootballPerformance.vue
src/visualizations/IncomeThresholds.vue
src/visualizations/MarchMadness.vue
src/visualizations/Population.vue
src/visualizations/Poverty.vue
src/visualizations/TvShowViewership.vue
