* { box-sizing: border-box; }
b { font-weight: 600; }


/* Vue Slider */
.vue-slider { height: 6px !important; }
.vue-slider-rail { background-color: #bbb; }
.vue-slider-process { background-color: #bbb; }